.aboutContainer {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 2em;
}

.title {
    font-family: "Quicksand", sans-serif;
    justify-self: center;
    font-size: calc(15px + 8vw);
    font-weight: 500;
    color: #74cdaf;
    text-align: center;
}

.content {
    font-size: calc(12px + 0.5vw);
    text-align: center;
    min-width: 330px;
    max-width: 1000px;
    padding: 2em;
    margin-bottom: 2em;
}

.afterVideo {
    font-size: calc(20px + 0.2vw);
}
