.messagePage {
    display: grid;
    background-image: url("../images/sparse-icon-scatter-light.png");
    background-size: 200%;
    width: 100vw;
    height: 100vh;
    padding: 20vh 1em 40vh 1em;
    align-items: center;
    justify-items: center;
}

.logo img {
    max-width: 150px;
    max-height: 100px;
    margin: 0;
    margin-bottom: 10%;
}

.messageDetail {
    align-self: start;
    max-width: 400px;
    text-align: center;
    padding: 0.8em 0 1.2em 0;
    font-size: calc(12px + 0.5vw);
    font-family: "Quicksand", sans-serif;
}

.button, button:visited {
    cursor: pointer;
    display: grid;
    border-radius: 5%;
    width: calc(150px + 10vw);
    height: calc(50px + 0.2vw);
    justify-items: center;
    align-items: center;
    align-self: start;
    background-color: #74cdaf;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: calc(11px + 0.3vw);
    font-weight: 700;

    transition: background-color 1s, width 0.2s;
}

.button:hover {
    background-color: #57a4cd;
    transition: background-color 1s, width 0.2s;
}

.button:visited {
    color: white;
}

.postApplyLink {
    color: #74cdaf;
    font-weight: 500;
    text-decoration: underline;
}

.postApplyLink:visited {
    outline: none;
}

