.challenges {
    display: grid;
    max-width: 1000px;
    align-items: center;
    justify-items: center;
}

.challengesTitle {
    font-family: "Quicksand", sans-serif;
    font-size: calc(22px + 2vw);
    font-weight: 500;
    color: #74cdaf;
    text-align: center;
}
