.faqSection {
    display: grid;
    grid-gap: 2em;
    justify-items: center;
}

.faqs {
    display: grid;
    align-items: center;
    justify-items: center;
}

.faqsTitle {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #74cdaf;
    font-size: calc(22px + 2.5vw);
    text-align: center;
    justify-self: center;
    align-self: end;
}

.faqsContent {
    display: grid;
    grid-gap: 1.5em;
    justify-items: center;
}

.faq {
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
    max-width: 500px;
    grid-gap: 10px;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
}

.faqQuestion {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 90% 10%;
    padding: 1em;
}

.questionText {
    text-align: center;
    font-size: calc(15px + .5vw);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

.faqContent {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 1em;
    padding: 0 2em 1em 2em;
}

.contentClosed {
    display: none;
}

.faqLine {
    height: 1px;
    width: 70%;
    margin-bottom: 0.5em;
    background-color: #74cdaf;
}

.faqAnswer {
    text-align: center;
    padding-top: 0.2em;
    margin-bottom: 1em;
    font-size: calc(15px + 0.8vw);
}

.collapseButton {
    padding-top: 30%;
}


