.faqSection {
    display: grid;
    grid-gap: 10%;
    justify-items: center;
    margin-bottom: 10%;
}

.faqs {
    display: grid;
    align-items: center;
    justify-items: center;
}

.faqsTitle {
    min-height: 10vh;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #74cdaf;
    font-size: calc(22px + 2.5vw);
    text-align: center;
    justify-self: center;
    align-self: end;
}

.faqsContent {
    display: grid;
    grid-gap: 4vh;
    justify-items: center;
    padding: 1em;
}

.faq {
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
    width: calc(100px + 30vw);
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
}

.faqQuestion {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    grid-template-columns: 95% 5%;
    align-items: center;
    justify-items: center;
    padding: 0.2em 0.7em 0.2em 0.7em;
}

.questionText {
    text-align: center;
    font-size: calc(11px + 0.5vw);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    padding: 1em;
}

.faqContent {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 1em;
    padding: 0 1.2em 0.5em 1.2em;
}

.contentClosed {
    display: none;
}

.faqLine {
    height: 1px;
    width: 70%;
    margin-bottom: 0.5em;
    background-color: #74cdaf;
}

.faqAnswer {
    text-align: center;
    padding-top: 0.2em;
    margin-bottom: 1em;
    font-size: calc(10px + 0.5vw);
}

.collapseButton img {
    margin-bottom: 20%;
    min-width: 10px;
}

