.faqSection {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 10% 80% 10%;
    padding-top: 1em;
    justify-items: center;
}

.faqs {
    display: grid;
    align-items: center;
    justify-items: center;
}

.faqsTitle {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #74cdaf;
    font-size: calc(22px + 3vw);
    text-align: center;
    justify-self: center;
    align-self: end;
}

.faqsContent {
    display: grid;
    grid-gap: 4vh;
    justify-items: center;
    padding: 1em;
}

.faq {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1.5em;
    padding-bottom: 2.2em;
    width: 80vw;
    max-width: 1000px;
    grid-template-rows: 30% auto;
    grid-gap: 10px;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
}

.faqQuestion {
    text-align: center;
    font-size: calc(22px + .5vw);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

.faqLine {
    height: 1px;
    width: 30%;
    background-color: #74cdaf;
}

.faqAnswer {
    text-align: center;
    padding-top: 0.2em;
}
