.frontPage {
    display: grid;
    height: 90vh;
    grid-template-rows: 3fr 1fr 3fr;
    justify-items: center;
}

.logo {
    display: grid;
    max-width: 400px;
    align-self: end;
    min-width: 180px;
    align-items: end;
}

.dateLoc {
    display: grid;
    justify-items: center;
    align-items: center;
    align-self: start;
    grid-gap: 0.5em;
}

.bar {
    background-color: #74cdaf;
    border-radius: 25%;
    height: 1px;
}

.bigBar {
    composes: bar;
    width: 6em;
}

.date, .location {
    font-size: calc(12px + 0.2vw);
    font-weight: 400;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-family: "Red Hat Text", sans-serif;
    text-align: center;
}

.medBar {
    composes: bar;
    width: 4em;
}

.smallBar {
    composes: bar;
    width: 2em;
}

.applyButton, applyButton:visited {
    cursor: pointer;
    display: grid;
    align-self: start;
    align-items: center;
    justify-items: center;
    height: calc(50px + 1vw);
    width: calc(150px + 0.1vw);
    height: calc(40px + 0.1vw);
    background-color: #74cdaf;
    font-size: calc(13px + 0.1vw);
    font-family: "Quicksand", serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: white;
    border-radius: 5%;
    margin-top: calc(15px + 0.1vw);

    transition: width 0.5s, background-color 0.5s;
}

.applyButton:hover {
    background-color: #57a4cd;
    transition: background-color 0.5s;
}
