.frontPage {
    display: grid;
    min-height: 85vh;
    grid-template-areas:
        "logo"
            "info"
            "apply"
            "afterVid";
    justify-items: center;
    align-items: center;
    margin-top: 15%;
    padding: 0.5em;
    overflow-x: hidden;
}

.logo {
    display: grid;
    width: calc(200px + 19vw);
    align-self: end;
    align-items: center;
    grid-area: logo;
    margin-bottom: 10px;
}

.logo img {
    margin: 0;
}

.info {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: info;
}

.bar {
    background-color: #74cdaf;
    border-radius: 25%;
    height: 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.bigBar {
    composes: bar;
    width: 6em;
    margin-top: 0;
}

.date, .location {
    font-size: calc(10px + 0.4vw);
    font-weight: 400;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-family: "Red Hat Text", sans-serif;
    text-align: center;
}

.medBar {
    composes: bar;
    width: 4em;
}

.smallBar {
    composes: bar;
    width: 2em;
    margin-bottom: 1em;
}

.applyButton, applyButton:visited {
    grid-area: apply;
    cursor: pointer;
    display: grid;
    align-self: start;
    align-items: center;
    justify-items: center;
    height: calc(30px + 1vw);
    width: calc(150px + 2vw);
    background-color: #74cdaf;
    font-size: calc(12px + 0.3vw);
    font-family: "Quicksand", serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: white;
    margin-bottom: 10%;
    border-radius: 5%;

    transition: width 0.5s, background-color 0.5s;
}

.applyButton:hover {
    background-color: #57a4cd;
    transition: background-color 0.5s;
}

.navGuide {
    align-self: end;
    margin: 0;
    font-size: calc(12px + 0.2vw);
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: #74cdaf;
}

.navGuideKey {
    composes: navGuide;
}

.navGuideTouch {
    composes: navGuide;
}

.afterVideo {
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    justify-items: center;
    grid-area: afterVid;
    overflow: hidden;
}

.afterVideo iframe {
    width: calc(500px + 10vw);
    height: calc(300px + 10vw);
}

.afterVideo p {
    text-align: center;
    font-size: calc(14px + 0.2vw);
    padding-top: 2em;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
}

.afterVideoMinimal {
    align-self: start;
    font-size: calc(12px + 1vw);
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    padding-top: 1em;
    text-decoration: underline;
    color: #74cdaf;
}

@media only screen and (min-width: 500px) {
    .afterVideoMinimal {
        display: none;
    }

    .afterVideo {
        display: grid;
    }
}
