.layout {
    display: grid;
    background-image: url("../images/sparse-icon-scatter-light.png");
    background-size: 200%;
    grid-template-areas:
        "home"
            "about"
            "faq";
}


@media only screen and (min-width: 1000px) {
    .layout {
        background-size: 150%;
    }
}

.aboutSection {
    grid-area: about;
}

.homeSection {
    grid-area: home;
}

.challengesSection {
    grid-area: challenges;
}

.faqSection {
    grid-area: faq;
}

.sponsorsSection {
    grid-area: sponsors;
}

.footer {
    align-self: end;
    background-color: #464646;
    height: 8vh;
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.footerInfo {
    color: white;
    font-size: calc(8px + 0.5vw);
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
}
