.layout {
    display: grid;
    grid-template-row: 1fr 1fr auto;
    align-items: center;
    justify-items: center;
    grid-auto-flow: row;
    background: url("../images/sparse-icon-scatter.png");
    background-size: 700px;
}

.footer {
    align-self: end;
    background-color: #464646;
    height: 8vh;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.footerInfo {
    color: white;
    font-size: calc(18px + 0.5vw);
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
}
