
.nav {
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
}

.nav img {
    width: 50%;
    max-height: 20px;
}

.navSectionShow {
    min-width: 50px;
    transition: opacity 0.2s, height 0.5s;
}

.navSectionHidden {
    height: 0;
    opacity: 0;
    transition: opacity 0.5s, height 1s;
    overflow: hidden;
}

.horzDetail {
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #74cdaf;
    font-weight: 500;
    font-size: calc(25px + 0.4vw);
}

@media only screen and (max-width: 1000px) {
    .nav {
        align-items: end;
    }
}

.vertDetail {
    color: #74cdaf;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    font-size: calc(25px + 0.4vw);
}
