
.nav {
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
}

.nav img {
    margin: 0;
}

.horzDetail {
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #74cdaf;
    font-weight: 500;
    font-size: calc(25px + 0.4vw);
}

@media only screen and (max-width: 1000px) {
    .nav {
        align-items: end;
    }
}

.vertDetail {
    color: #74cdaf;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    font-size: calc(25px + 0.4vw);
}
