.panel {
    display: grid;
    width: 100vw;
    align-items: center;
    justify-items: center;
    padding: 1em;
    grid-template-areas:
        "content"
            "bot";
}


.botNav {
    grid-area: bot;
    align-self: end;
}

.panelContent {
    grid-area: content;
    align-self: end;
}
